@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
:root {
    --corprincipal: #E12C30;
    --corbotao : linear-gradient(90deg, #12D01A 17.21%, #12D01A 78.69%);
    --corsegundaria: #676767;
    --cortexto: #333;
    --fonte: 'Manrope';
}

*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
figure{
    margin: 0 !important;
    padding: 0;
}
.primeira-dobra{
    background-image: url('../images/carros_avenida.png');
    padding-top: 2em;
}
.navHeader{
    justify-content: space-between;
}
img.logo{
    width: 150px;
}
.foto_banner img{
    width: 70%;
    position: relative;
}

h1{
    font-weight: 800 !important;
    color: var(--corprincipal);
}
h2,h3,h4,h5,h6{
    color: var(--corsegundaria);
    font-weight: 700  !important;
}
p{
   font-size: 1.3em; 
   color: var(--corsegundaria);
}
.title{
    width: 100%;
}


.btn-afiliado{
    background: var(--corbotao);
    width: 200px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.btn-afiliado:hover{
    color: #fff;
    text-decoration: none;
}
.container_form{
    display: flex;
    flex-wrap: wrap !important;
}
.formulario {
    background-color: var(--corprincipal);
    padding: 3em;
}
.video_form{
    border-radius: 5px;
}
.form_afiliacao{
    background-color: #CE282B;
    padding: 2em;
    border-radius: 20px;
}
input{
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 15px !important;
}
::placeholder{
    font-weight: 700;
    font-size: 1.1em;
}
button:focus{
box-shadow: 1px 1px 5px #333 !important;
border: none !important;
outline: none !important;
}

.btn-quero-ser-afiliado{
    background: var(--corbotao);
    width: 95% !important;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border: none;
    margin: 0 auto;
}
.btn-quero-ser-afiliado:hover{
    color: #fff;
    text-decoration: none;
}

.container_vantagens{
    padding: 4em 0em;
}
.vantagens{
    padding-top: 2em;
}
.icon_vantagem{
    background-color: var(--corprincipal);
    padding:30px;
    clip-path: circle(45% at 50% 50%);
}
.icon_vantagem img{
    width: 70px;
    margin: 0 auto;
}
.texto_vantagem{
    width: 55%;
}

.info-1{
    background-color: var(--corprincipal);
    padding-top: 2em;
}
.container_textoInfo-1 {
   text-align: left !important;
}
.container_textoInfo-1 h2{
    font-weight: 800 !important;
    color: #fff;
    font-size: 3em;
    padding-top: 1em;
}
.container_textoInfo-1 p{
    font-weight: 400 !important;
    color: #fff;
    font-size: 2.5em;
    padding-top: 1em;

}
.container_imgInfo-1 img{
    width: 100%;
}
.info-2{
    padding: 2em;
}
.textoInfo{
    text-align: justify;
    font-size: 1.2em;
}

.box_imgInfo-2 img{
    width: 85%;
    height: 100%;
}
.box_imgInfo-3 img{
    width: 100%;
}

.box_btnCta{
    margin: 0 auto;
}
.box_btnCta{
    width: 50%;
}


/* LAYOUT RESPONSIVO */
@media screen and (max-width:768px){
    .primeira-dobra{
        flex-wrap: wrap;
    }
    .foto_banner {
       order: 3;
    }

    .btn-afiliado{
        order: 3;
    }
    .navHeader{
        justify-content: center;
    }
    .title h1 {
        font-size: 2em;
        text-align: center;
    }
    img.logo{
        width: 100px;
    }
    .container_form_afiliacao{
        margin-top: 5%;
    }
    input{
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
        outline: none;
        border: none;
        margin: 15px !important;
    }
    ::placeholder{
        font-weight: 700;
        font-size: .9em;
    }
    .btn-quero-ser-afiliado{
       
        padding: 5px;
        font-size: 1em;
        
    }
    .box_btnCta .btn-quero-ser-afiliado{
       
        padding: 5px;
        font-size: 1.5em;
        
    }
    .box_vantagem{
        flex-direction: column;
        text-align: center;
    }
    .icon_vantagem {
        margin-bottom: 5%;
    }
    .texto_vantagem{
        margin: 0 !important;
    }
    .container_textoInfo-1 p{
        text-align: center;
    }
    .container_textoInfo-1 h2{
        font-size: 2em;
        text-align: center;
    }
    .container_textoInfo-1 p{
        font-size: 1.5em;
    }
    .container_imgInfo-1 img{
        width: 80%;
    }
    .container_textoInfo-2{
        
        font-size: 1em;
    }
    .box_imgInfo-2 img{
        width: 100%;
        height: 100%;
    }
    .container_imgInfo-3{
        margin-bottom: 10%;
    }
    .container_textoInfo-3 p{
font-size: 1em;
    }
    .box_btnCta{
        width: 100%;
    }
}